        /* =========================
   基本設定
   ========================= */

        html {
            font-size: 16px;
            /* font-size は唯一の絶対基準 */
        }

        :root {
            --text-main: #222;
            --text-sub: #666;
            --border: #ddd;
            --accent: #2a5bd7;
        }

        body {
            margin: 0;
            font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
            font-size: 16px;
            line-height: 1.7;
            color: var(--text-main);
            background: #fafafa;
        }

        /* =========================
   ヘッダー
   ========================= */

        header {
            background: white;
            border-bottom: 1px solid var(--border);
            text-align: center;
        }

        header h1 {
            margin: 0;
            padding-top: 2.5rem;
            font-size: 28px;
        }

        .subtitle {
            margin-top: 0.5rem;
            margin-bottom: 2.5rem;
            font-size: 14px;
            color: var(--text-sub);
        }

        /* =========================
   メインレイアウト
   ========================= */

        main {
            max-width: 60rem;
            margin: 0 auto;
            padding: 3rem 3rem 3rem 3rem;
        }

        .two-column {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-flow: row;
            gap: 2.5rem;
        }

        .col {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        /* =========================
   セクション・見出し
   ========================= */

        section h2 {
            margin-top: 0;
            margin-bottom: 1rem;
            padding-bottom: 0.3rem;
            font-size: 20px;
            border-bottom: 2px solid var(--border);
        }

        .memo{
            padding: 0.5rem;
            background-color:bisque;
        }

        /* =========================
   PDF リスト
   ========================= */

        .pdf-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .pdf-list li {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            padding: 0.75rem 0.25rem;
            border-bottom: 1px solid var(--border);
        }

        .pdf-list a {
            font-size: 16px;
            color: var(--accent);
            text-decoration: none;
        }

        .pdf-list a:hover {
            text-decoration: underline;
        }

        /* =========================
   フッター
   ========================= */

        footer {
            margin-top: 3rem;
            padding: 1.5rem;
            text-align: center;
            font-size: 14px;
            color: var(--text-sub);
        }


